<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="./css/style.css">
        <title>About </title>

</head>
<body>
         <div class="main content">
                {{>header}}
                <p>Thi site was created By Ali Bouyahya, It uses data from mapbox.com and darksky.net</p>
    <img class='portrait' src="Ali.jpg">

        </div>
   
        {{>footer}}

</body>
</html>