<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="./css/style.css">
        <title>Help </title>

</head>
<body>
        
        <div class="main content">
                {{>header}}

    <p>Created by {{name}} </p>
 <!-- [{
        name : 'Ali',
        age: 33
    },{name :'Ahmed', age : 32}]-->
        {{>footer}}
        </div>
        

</body>
</html>